body{
    font-family: Arial;
    font-size: 1.2vw;
}

header{
    background-color: #0a64eb;
    height: 20%;
}
header img{
    display: inline-block;
    vertical-align: top;
    width: 2%;
    padding:0.3%;

}
header a{
    display: inline-block;
    vertical-align: top;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: 2px 2px black;
}

#navOptions{
    font-size: 75%;
}

header ul{
    list-style: none;
    text-align: right;
    margin-right:10px;
    margin: 0.3px 11px;
}

header li{
    display: inline-block;
    vertical-align: top;
    line-height: 293%;

}

nav{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    float: right;
}