
.generalUser{
    width: 100%;
    padding-top: 3%;
    text-align: center;
    border-radius: 4px;
    margin-right: 0.2%;
    padding-bottom: 16%;
}
.userName{
    font-size: 100%;
    margin-top: 12%;
    margin-bottom: 10%;
}
.generalUser:hover {
   border-color: silver;
}
.userImage{
    margin-bottom: 8%;
}
.followees{
    width: 18%;
    border:5px solid #e6e6e6;
    text-align: center;
    border-radius: 5px;
}
.row{
    margin-bottom: 1.5%;
}

