body{
    font-family: Arial;

}

header{
    background-color: #0a64eb;
    height: 20%;
}
header img{
    display: inline-block;
    vertical-align: top;
    width: 2%;
    padding:0.3%;

}
header a{
    display: inline-block;
    vertical-align: top;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 15px;
    text-shadow: 2px 2px black;
}

#navOptions{
    font-size: 75%;
}

header ul{
    list-style: none;
    text-align: right;
    margin-right:10px;
    margin:1px;
}

header li{
    display: inline-block;
    vertical-align: top;
    line-height: 260%;

}

nav{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    float: right;
}

#returnMenu{
    line-height: 211%;
}
section{
    width: 70%;
    margin: 0.9% 16% 0 auto;

}
#yourTweet{
    width: 70%;
    height: 60px;
    line-height: 450%;
    font-size: 80%;
}

a:hover {
    background-color: rgba(24,158,255,0.43);
}
img:hover {
    background-color: rgba(24,158,255,0.43);
}
#publishButton{
    display: inline-block;
    vertical-align: top;
    font-size: 75%;
    margin-top: 2.5%;
}

.userName{
    font-size: 75%;
}
.userComment{
    font-size: 75%;
}
.userImage{
    display: inline-block;
    vertical-align: top;
}
.tweetDetails{
    display: inline-block;
    vertical-align: top;
}
.userTweet{
    margin-top: 2%;
}



