body{
    font-family: Arial;
    font-size: 1.2vw;
}
header img{
    width: 20%;
}

.navbar-inverse{
    background-color: #0a64eb;
}

.navbar-inverse a{
    color: white !important;
}

.navbar-inverse span{
    color: white !important;
}

.navbar-inverse :hover{
   color: lightgray !important;
}


